{% extends 'base.html' %}
{% set body_class = "locations_body" %}
{% block content %}
{% include "navbar.html" %}

<div class="container py-5">
    {% for row in range(4) %}
        {% set start = row * 3 %}
        <div class="row g-4 mt-0 mt-md-4">
          {% for i in range(3) %}
            <div class="col-md-4 col-lg-4">
                <a href="{{ url_for('destination', name=locations[i + start].url_name, location_id=locations[i + start].id) }}" class="text-decoration-none w-100 h-100 d-flex">
              <div class="card h-100 d-flex flex-column">
                <img src="{{ url_for('static' ,filename='assets/img/' ~ locations[i + start].image_url) }}" class="card-img-top card-image" alt="Post 1">
                <div class="card-body d-flex flex-column text-center">
                  <h5 class="card-title">{{ locations[i + start].title }}</h5>
                  <p class="card-text flex-grow-1">{{ locations[i + start].subtitle }}</p>
                  <!--<h4>Περισσότερα</h4>-->
                </div>
              </div>
                </a>
            </div>
          {% endfor %}
        </div>
    {% endfor %}
</div>

{% set footer_class='py-4 my-3' %}
{% include "footer.html" %}
{% endblock %}
